<div class='row footer_row'>

    <div class='container footer_container'>

        <div class='col-md-12 footer_col'>
                    
            <div class='footer_links'>
                
                <%= link_to '<span>Licence</span>'.html_safe, licence_path %>
                <%= link_to '<span>Regulations</span>'.html_safe, privacy_policy_path, :class=>'reg_modal_button_2' %>
                <%= link_to '<span>Privacy policy</span>'.html_safe, regulations_path, :class=>'reg_modal_button_1' %>

            </div>

             <div class='footer_rights'>

                <span><% @t = Time.now %><%= @t.year %> All rights reserved. Design and implementation <a href='https://wordica.net' rel='nofollow' title='agencja interaktywna'>Agency Wordica.net</a></span>

            </div>

        </div>

    </div>

</div>
