<div class='container most_popular_tags_container'>

    <div class='row most_popular_tags_row'>

        <div class='col-md-12 most_popular_tags_column'>

            <% @tags.each do |t| %>

                <span class='tag'><%= t %></span>

            <% end %>

        </div>

    </div>

</div>