<div class='container search_container'>

    <div class='row search_row'>

        <div class='col-md-12 search_col'>

            <%= form_with(model: @search ,url: searches_results_path, method:'get') do |f| %>

                <%= f.text_field :keyword, :class=>'form-control' %>
                <%= f.submit 'Search', { disable_with: "Searching, pleas wait..."} %>
               
            <% end %>
            
        </div>
         <small id="passwordHelpBlock" class="form-text licence_txt">all photos are made to be used freely - <%= link_to 'licence', licence_path %> </small>
    </div>

</div>