<div class='container search_container'>

    <div class='row search_row'>

        <div class='col-md-12 search_col'>

            <%= form_for @search do |f| %>

                <%= f.text_field :keyword, :class=>'form-control' %>

            <% end %>

        </div>

    </div>

</div>