<div class='top_adv'>

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4097832296771894"
            crossorigin="anonymous"></script>
            <!-- PH_TOP_1 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4097832296771894"
                data-ad-slot="5157315186"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        
</div>


<%= render partial: 'shared/most_popular_tags' %>
<%= render partial: 'shared/search_panel' %>

<div class='container-fluid main_page_container'>

    <div class='row main_page_row'>

        <div class='main_page_title'>
            <h2>Welcome on PhotoClicker.net - Free High Quality Photography</h2>
            <h3><b>JOIN NOW and show Your works to the world.</b><br><br>Our goal is to provide people, bloggers, designers, graphic designers and many other professionals,<br> access to absolutely free, high-quality photos provided by photographers from all over the world.</h3>
        </div>
        
        
        
        <div class='col-md-12 main_page_isotope_column'>
        
             <%= render 'photos' %>

        </div>
        

        <div class="page-load-status">
            <div class="loader-ellips infinite-scroll-request">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
            <p class="infinite-scroll-last">End of content</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>


		<div class='pagination'>

			<%= will_paginate @photos %>

		</div>

       

        <div class='col-md-12 bottom_home_txt'>
                
            <h6 class='article'>
                <span class='title'>Why this page?</span>
                Maybe a little longer what this portal is. I'm interested in photography. <br>I am a programmer, I used to create websites templates. However, to create a good product that encourages you to buy or use it, you need not only an aesthetic sense, but also good quality photos. These types of photos were usually on websites where you had to pay even 50 or 100 dollars for a photo. With a bit of bad luck, this investment may not even pay off. <br>Of course, I know that there are dozens of websites with photos on the Internet for free, for example the well-known unsplash. <br>The photos there are of course of great quality, but the authors went towards artistic photos. Personally, I would like to add photos that can be used in commercial products - the so-called "applied art", on this website. Photos that allow you to increase sales, encourage a purchase, and build an atmosphere for a website in a given industry.
            <h6>

            <h6 class='article'>
                <span class='title'>Who can register?</span>
                Anyone really. It is completely free, you can have your own account, but you don't have to add photos. However, I would like people to register first of all with amateur or professional photographic equipment and to post photos on the portal that will allow others to help in the development of their projects. Unfortunately, photos from mobile phones are not suitable for this type of project and are likely to be rejected.
            <h6>

        </div>



    </div>

</div>