<%= render partial: 'shared/most_popular_tags' %>
<%= render partial: 'shared/search_panel' %>

<div class='container-fluid main_page_container'>

    <div class='row main_page_row'>

        <div class='col-md-12 main_page_isotope_column'>

            <!-- 
             <%# if @count_images == 0 %>

                    <div class='iso_image'>

                        <%# random = rand(1..4) %>

                        <%# if random == 1 %>

                        
                        <a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/n38osvhosfe7c03b269e6f61936a04/?i=4"><img width="300" height="600" border="0" src="https://ad.admitad.com/b/n38osvhosfe7c03b269e6f61936a04/" alt="Depositphotos [CPS] WW"/></a>
                        

                        <%# elsif random == 2 %>

                        
                        <a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/7z0o3f9ujye7c03b269ea186dc55d3/?i=4"><img width="300" height="600" border="0" src="https://ad.admitad.com/b/7z0o3f9ujye7c03b269ea186dc55d3/" alt="Envato WW"/></a>
                        

                        <%# elsif random == 3 %>

                            
                            <a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/kadq1ld75ge7c03b269eab3b562e39/?i=4"><img width="300" height="250" border="0" src="https://ad.admitad.com/b/kadq1ld75ge7c03b269eab3b562e39/" alt="Shutterstock WW"/></a>
                            

                        <%# elsif random == 4 %>
                            
                           
                            <a target="_blank" rel="nofollow" href="https://alitems.site/g/7vx4396n43e7c03b269e16525dc3e8/?i=4"><img width="300" height="250" border="0" src="https://ad.admitad.com/b/7vx4396n43e7c03b269e16525dc3e8/" alt="AliExpress WW"/></a>
                            

                        <%# end %>

                    </div>

                    <%#= render 'photos' %>

                <%# else %>

                    <%#= render 'photos' %>

                <%# end %>
        -->
            <%= render 'photos' %>
        
        </div>

        <div class="page-load-status">
            <div class="loader-ellips infinite-scroll-request">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
            <p class="infinite-scroll-last">End of content</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>


		<div class='pagination'>

			<%= will_paginate @photos %>

		</div>

    </div>

</div>