<div class='container-fluid about_us_top_container_fluid'>

    <div class='row top_row'>

        <div class='col-md-12 top_column'>

            <h2>PhotoClicker.net - Free Stock Photos</h2>
            <h3>Just Download It!</h3>
            <%= image_tag('person_about_us.png', :alt => 'About Us') %>
        </div>

    </div>

</div>


<div class='container about_us_container'>
    
    <div class='row about_us_row'>

        <div class='col-md-12 about_us_column'>

            <h2>About Us</h2>
            <span class='divider'>

                <span class='divi'></span>
                <span class='divi middle'></span>
                <span class='divi'></span>

            </span>
            <h4>I created this website to enable <b>talented young photographers</b> to present their works and to make it easier for them to be noticed by photography companies or indirect clients of their works.<br> <b>All photos available on the portal are 100% free</b>, they can be used on any website, in any project. Some authors also provide the possibility of employment to take photos on request - here, of course, the correspondence takes place between the author and the client.<br><br>
            PhotoClicker no limit new photos every day and the <strong>quality</strong> of the photos is exceptional. You can search for photos using the search box.
            <br>
            Photos are all licensed under <b>Creative Commons Zero</b>, so you can pretty much use the photos as you like. These photos are taken by creatives for creatives, so expect <strong>high quality</strong>, artistic shots from stunning landscapes to enticing foodie shots.</h4>

        </div>

    </div>

</div>

<div class='container-fluid about_us_container_fluid'>
    
    <div class='section_4'>

        <div class='container s4_container'>

            <div class='row s4_row'>

                <div class='col-md-12 s4_col'>

                    <div class='title_big'>

                        <h5>What we can offer</h5>

                    </div>

                    <div class='ul_main_container'>
                                
                        <div class='ul_1 ul_container'>

                            <span class='abs_number'>01</span>
                            <span class='txt'><strong>Totally free</strong>, high resolution photos</span>

                        </div>

                        <div class='ul_2 ul_container'>

                            <span class='abs_number'>02</span>
                            <span class='txt'><strong>Advertise of Your work</strong> and the prospect of your own clients </span>

                        </div>

                        <div class='ul_3 ul_container'>

                            <span class='abs_number'>03</span>
                            <span class='txt'>Every day <strong>new photography from all over the world</strong></span>

                        </div>

                        <div class='ul_4 ul_container'>
                            
                            <span class='abs_number'>04</span>
                            <span class='txt'> Fully <strong>moderated</strong> portal with free photos</span>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
