<% content_for :head do %>

          <title>PhotoClicker.net - Frequently Asked Question </title>
          <meta name="description" content="High-quality free photos for a blog, website presentation, wallpapers. Free stock photos from photographers all over the world.">
          <meta name='keywords' content="free,stock,photos,stock photos,free photos,free stock photos,wallpapers,blog photos">

<% end %>

<div class='container faq_container'>

    <div class='row faq_row'>

        <div class='col-md-12 faq_column'>


            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>Why should I post photos for free when there are many sites that pay when someone downloads my photo?</h5>
                
            </div>

            <div class='faq_answer'>

                <h6>Yes, many sites pay for every download of your photo, but you must have thousands or tens of thousands of photos to earn at least "good" for it. Of course, we are not saying that it is unprofitable, but simply time-consuming. Using our website by posting photos should be treated as a form of advertising, self-promotion, free portfolio.</h6>

            </div>


            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>How works "hire me" option?</h5>
                
            </div>

            <div class='faq_answer'>

                <h6>The "hire me" option allows to send you a message (which you will receive on your profile). Of course, it can be used for spam, but you do not receive any e-mail notifications, so if you agree to receive offers, it is enough to clean up your inbox from time to time. The message will contain: subject, text and email address to reply to. Checking this option, of course, does not oblige you to do anything.</h6>

            </div>



            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>Can I really use photos in commercial projects, e.g. creating a website for a client?</h5>
                
            </div>

            <div class='faq_answer'>

                <h6>Yes. All authors warrant that the rights to the photos posted belong solely to them and by posting photos on the website, they consent to their free use by everyone. This is of course an advantage, but remember that such a photo can be used by many creators, which may slightly reduce the originality of the project - if the photo is some kind of main image of the website.</h6>

            </div>

            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>Is there an option to download all photos at once?</h5>
                
            </div>

            <div class='faq_answer'>

                <h6>No there is no such option and it is prohibited by the regulations</h6>

            </div>

            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>Do You accept all photos?</h5>
                
            </div>

            <div class='faq_answer'>

                <h6>No.The photo is checked by moderators for quality, resolution and "content". They cannot be photos of anything taken with a smartphone. The photo must show some kind of artistic, commercial value, and obviously must not contain anything related to eroticism, etc.</h6>

            </div>

            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>How many photography can I upload?</h5>
                
            </div>

            <div class='faq_answer'>
 
                <h6>There is no limit. You can upload as many photos as you want, which, after approval by the moderators, will (or not) be displayed to all visitors to the portal.</h6>

            </div>

            <div class='faq_question'>

                <h5><i class="far fa-question-circle"></i>Do I have to put a description and tags?</h5>
                
            </div>

            <div class='faq_answer'>
 
                <h6>Yes. Each photo must be properly described in terms of content and keywords or tags.</h6>

            </div>


        </div>

    </div>

</div>