<% content_for :head do %>

          <title>PhotoClicker.net - Privacy Policy - Free Photos </title>
          <meta name="description" content="High-quality free photos for a blog, website presentation, wallpapers. Free stock photos from photographers all over the world.">
          <meta name='keywords' content="free,stock,photos,stock photos,free photos,free stock photos,wallpapers,blog photos">

<% end %>

<div class='r1 ' id='r1'>
	<div class='r1-pattern'>
		<div id='regulations-1' class='container'>
			<div class='row'>
				<div class='col-md-12 text-center'>
					<div class='col-md-12 regulations-title'>Privacy Policy</div>
					<div class='col-md-12 regulations-content text-left'>
						<ul>
							
							<li>By confirming the account, you consent to the processing of personal data in accordance with the Regulation of the European Parliament and of the Council (EU) 2016/679 of April 27, 2016 on the protection of personal data, as amended - GDPR</li>
							
							<li>We update the Privacy Policy so that our users can more easily understand what information we collect and why we collect it.</li>
							
							<li>We do not change anything in the current settings or the method of data processing. However, we are improving the description of our procedures.</li>
							
							<li>Data processor (Administrator) - exact data of the entity are available at the link leading to the official website of CEIDG - <a ref='nofollow' target='_blank' href='https://prod.ceidg.gov.pl/CEIDG/Ceidg.Public.UI/SearchDetails.aspx?Id=bac08575-2011-4114-889f-ea036d9ffea5'>HERE</a>

							<li>Purpose of processing:</li>
								<li class='subreg'>Personal data is processed by our portal for purposes related to the implementation of the contract, i.e. providing the service of uploading and downloading photos, and thus providing such services to other people</li>
								<li class='subreg'>Marketing - if such consent was given during account registration, which is a separate consent from the main service of our website and may be withdrawn at any time by contacting us
                                However, the portal does not use user data - in particular email address - to send advertisements / offers from third parties. We do not share such data because we do not want to "harass" users with advertisements.</li>
								<li class='subreg'>Portal nie wykorzystuje jednak danych użytkowników - w szczególności adresu email - do wysyłania reklam/ofery firm trzecich. Nie udostępniamy takich danych ponieważ nie chcemy "dręczyć" użytkowników reklamami.</li>
								<li>To provide you with greater security, including to detect possible fraud or abuse</li>
								<li>to display you advertisements tailored to your needs and interests (details in the "Type of personal data collected from the data subject" section)</li>
								
						</ul>	
				</div>
				
				<div class='col-md-12 regulations-title'>Legal basis for the processing of personal data</div>
				<div class='col-md-12 regulations-content text-left'>
					
					<ul>
						<li>The website processes personal data on the basis of Article 6 (1) (b) of the GDPR Regulation - processing is necessary for the performance of a contract to which the data subject is party, or to take action at the request of the data subject prior to entering into a contract.
						</li>
					</ul>
				</div>
				
				<div class='col-md-12 regulations-title'>The period of personal data processing:</div>
				<div class='col-md-12 regulations-content text-left'>
				
					<ul>
						<li>Personal data will be processed for the duration of the contract, or until: the user deletes them on the portal; send a request for their removal to the following address: info@photoclicker.net or via the contact form. Each of the data deletion options meets the condition of "being forgotten", except for point 2.<br>
						Data from the backup server in case of failure of the main server is overwritten every 7 days.
						</li>

						<li>Personal data will also be stored in the archives for a period of 2 years in the event of a request by state authorities to disclose them, e.g. in the case of stalking and other types of violations of the law. In this case, however, the portal will not otherwise process / use personal data for its activities. After 2 years, the data will be automatically and permanently deleted from the portal's archives.</li>


					</ul>
				</div>
						
				<div class='col-md-12 regulations-title'>The type of personal data collected from the data subject</div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
							<li>Publicly available data: login provided during registration, description (without any data allowing for identification or contact outside the portal), country, tags, photos. These data are provided by the user and are not subject to verification because the portal does not have the physical ability to confirm the authenticity of the data.
                            </li>

							<li>Data unavailable to the public: email address, password (known only to the profile owner), IP address</li>
							<li>Data collected automatically when using the portal: cookies, server logs</li>
							<li>What are cookies:
								<ul>
									<li>it is small information, called cookies, sent by a website that we visit and saved on the end device (computer, laptop, smartphone) that we use when browsing websites.</li>
									<li>Cookies, consisting of a series of letters and numbers, contain various information necessary for the proper functioning of websites, e.g. those requiring authorization - incl. when logging in.</li>
									<li>"Cookies" also enable, inter alia, remembering our preferences and personalizing websites in terms of matching advertisements.</li>
									<li>"Cookies" also allows you to personalize advertisements offered by Google <a href='https://policies.google.com/technologies/partner-sites'>https://policies.google.com/technologies/partner-sites</a></li>
									<li>Thanks to "cookies" it is also possible to maintain a "login session" so that you do not have to re-enter your login details when reloading the page</li>
                                    <li>
                                    Your portal also uses Google Analytics technology from Google, Inc. to collect statistics. Data collected by GA is protected according to Google's privacy policy -<a href='https://www.google.com/intl/pl/policies/privacy/' target="_blank">policy</a>. GA only uses truncated IP addresses that do not allow users to be identified. If you do not want Google to collect your data, please use the GA blocking browser add-on.
                                    </li>

                                    <li>Our portal also uses the Google "remarketing" service, which consists in displaying Google ads tailored to the interests and history of visited pages. To block the service, please go to this link and change the settings - <a href='https://adssettings.google.com/authenticated?hl=pl' target='_blank'>remarketing</a>
                                    </li>

									<li>HOW GOOGLE USES DATA FROM SITES AND APPS THAT USE OUR SERVICES <a href='https://policies.google.com/technologies/partner-sites'>https://policies.google.com/technologies/partner-sites</a></li>
								</ul>
							</li>
							<li>What are server logs:
								<ul>
									<li>log - means a log file or event log and it is a record of information about events and activities related to the IT system, server, computer and website created in chronological order. This type of register is created automatically, independent of the user.Logs are used in conducting analyzes of the operating mode of IT systems. On their basis, the server operation mode can be traced. Logs also allow you to detect irregularities in the system or attempts to break into it.</li>
								</ul>
							</li>
							
					  </ul>
				</div>
				
				<div class='col-md-12 regulations-title'>Who can we provide the data to </div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
						<li>In accordance with applicable law, we may transfer your data to subcontractors of our services (section "entrusting the processing of personal data") and entities authorized to obtain data on the basis of applicable law, e.g. courts or law enforcement authorities - of course only if these authorities make a request based on an appropriate basis legal. </li>
					</ul>
				</div>
				
				<div class='col-md-12 regulations-title'>What rights you have in relation to your data</div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
						<li>You have the right to request access to data, rectification, deletion or limitation of their processing. You can also withdraw your consent to the processing of personal data - this, however, will be associated with the termination of our services.</li>
					</ul>
				</div>
				
				
				
				<div class='col-md-12 regulations-title'>Entrusting the processing of personal data</div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
						<li>The processing of personal data takes place on the basis of an entrustment agreement on servers made available for a fee by the company STATNET Online, ul. Kasztanowa 62, 85-605 Bydgoszcz, NIP 5542080386, REGON 092337386</li>
						<li>entrusting personal data is necessary for the website to function</li>
						<li>the hosting company to which the data has been entrusted does not have any rights to process personal data except for keeping them on its servers. Therefore, this company has no right to view the data, use them for any advertising or statistical activity. Only the website owner has access to personal data.
						</li>
					</ul>
				</div>
				
				<div class='col-md-12 regulations-title'>Data protection:</div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
						<li>Personal data on servers is secured by software used by the hosting company and by the use of access passwords by the website owner</li>
						<li>physical access to the servers is possible only for authorized persons in the place where the servers are stored. The building has a security system, incl. anti-burglary doors, alarms, monitoring, anti-fire system, emergency power supply.</li>
						<li>All connections related to user registration and login are secured with an SSL certificate that guarantees safe data transfer</li>
						<li>Pursuant to Article 6 (1) (f) of the GDPR - the website reserves the right to filter messages in terms of behaviors prohibited by the regulations, i.e. spam, vulgar or offensive content</li>
						<li>Securing access to a profile with a password encoded in a database that is unknown to anyone except the profile owner. Please choose a password that will make it impossible to identify it - this form of security depends on the user who creates the account and the portal does not affect its quality.</li>
						<li>The administrator's computer is secured with a password on an encrypted disk. The backup created by the administrator is performed on an external drive, secured with a password, on the basis of which the data is encoded on it, thus preventing access by third parties.</li>
					</ul>
				</div>
				
				
			</div>
		</div>
	</div>
</div>