<div class='container privacy_container'>

    <div class='row privacy_row'>

        <div class='col-md-12 privacy_column'>

            <div class='title'><span>What You can do with photos</span></div>
            <div class='privacy_txt'>
                <span>All photos are free to use ( <b>Commercial</b> and <b>non-commercial</b> purposes, no permission needed (though attribution is appreciated!) ), however, please keep in mind although the photos listed here are free to download and use, some photos do not have model or property release. Some photos may also contain copyrighted brands, logos, objects or personal properties( peoples faces etc. ).</span>
                
                <span>If you download photos with any of these kind of objects, you may need the permission of the brand owner of the brand or work of authorship or individual, depending on how you use the Photo ( for example printing or for commercial use in advertise ) </span>
            
            </div>

            <div class='title'><span>What You can't do with photos</span></div>
            <div class='privacy_txt'>

                <span>You can't <b>sold photos</b></span><br>
                <span>You can't download photos to create similar page</span><br>
                <span>You can't download all photos at once</span><br>
            
            </div>

            <div class='title'><span>Please keep it in mind</span></div>
            <div class='privacy_txt'>

                <span>All content on this website is provided “as is” without warranty of any kind. PhotoClicker and its owners make no representations or warranties with respect to ownership of copyrights or properties on the photos, and does not represent others who may claim to be owners of copyright or properties captured on any of the photos. Photolicker and its owners are not responsible for any loss or expenses resulting from the use of the photos or the photoclicker website, and by using the photoclicker website you agree to release and hold photoclicker and its owners harmless from all liability arising from such use.</span><br>
            
            </div>

        </div>

    </div>

</div>