<% content_for :head do %>

        <title>PhotoClicker.net - Regulations - Free Photos </title>
        <meta name="description" content="High-quality free photos for a blog, website presentation, wallpapers. Free stock photos from photographers all over the world.">
        <meta name='keywords' content="free,stock,photos,stock photos,free photos,free stock photos,wallpapers,blog photos">

<% end %>

<div class='r1 ' id='r1'>
	<div class='r1-pattern'>
		<div id='regulations-1' class='container'>
			<div class='row'>
				<div class='col-md-12 text-center'>
					<div class='col-md-12 regulations-title'>General information</div>
					<div class='col-md-12 regulations-content text-left'>
						<ul>
							
							<li> Contact with the portal - info@photoclicker.net</li>
							
							<li>By using the Website, you accept these Terms and Conditions and that you agree to comply with their provisions.</li>
							
							<li>Registration on the portal is free and means creating a free account.</li>
							
							<li>Upon registration, the Customer declares and warrants that he has read and accepted the above Regulations and thus they constitute an integral part of the contract for the provision of services by the photoclicker.net portal.</li>
							
							<li>The regulations apply to all users (including both subscribers and unregistered users), including those who use the photoclicker.net portal outside Poland.</li>
							
							<li>Complaints arising from the ignorance of the content of these regulations will not be considered. The deadline for considering the complaint is up to 14 business days</li>
							
							<li>The administrator may refuse to register (delete the free account) an account of any user without giving a reason. The portal does not accept email addresses, the so-called temporary mailboxes, such as "basket mail, yopmail" and others.</li>
							
							<li>The portal is intended for web browsers operating on Windows, OS, Linux systems, excluding mobile systems. Due to the number of mobile browsers being created, the portal cannot guarantee the correct operation of every web browser. For the portal to function properly, it is necessary for the web browser to comply with HTML 5.0 and CSS 3.0 standards. No operation or limited operation on mobile system browsers, cannot be subject to a complaint.</li>
						
							<li>In the event that pornography / strong eroticism is posted on the portal, you acknowledge that photoclicker.net will notify the relevant authorities of being forced to view pornography in accordance with Article 202 1 of the Polish Penal Code./li>
						
							<li>The portal does not view the e-mails of portal users. The exception is messages reported as vulgar or messages with identical content, which due to the protection against the so-called spam can be caught by algorithms.</li>
						
							<li> By using the Website, users also undertake to: </li>
								<li class='subreg'>not to provide unlawful content, in particular pornographic or erotic content involving minors or directed at minors, content related to incitement to prostitution and content created in violation of animal rights in the light of separate provisions.
                                </li>
								<li class='subreg'>do not provide a fictitious e-mail address during registration - to use the portal during registration, you certify that your e-mail address is your property;
                                </li>
								<li class='subreg'>not to provide content that violates the personal rights of third parties;</li>
								<li class='subreg'>not to provide advertising or marketing content;</li>
								<li class='subreg'>not to share your accounts or access data to these accounts to third parties.</li>
								<li class='subreg'> set up more than one account. </li>
								<li class='subreg'>do not put data such as: home address, telephone number on the portal. Such data will be removed from the server before their publication on the website</li>
								<li class='subreg'>not sending messages with the same or similar wording to many different members - all messages will be deleted</li>
								<li class='subreg'>not behaving vulgarly towards any user of the portal</li>
								<li class='subreg'>not to post photos of photos downloaded from the Internet, etc., and to post photos with contact details or advertisements from another portal.</li>
								<li class='subreg'>not to defame the portal, speak negatively, discouraging other users from using the portal</li>
							
						</ul>	
				</div>
				
				<div class='col-md-12 regulations-title'>Membership in photoclicker.net</div>
				<div class='col-md-12 regulations-content text-left'>
				
					<ul>
						<li>User account - username and password created when completing the account creation form on the photoclicker.net portal, enabling the management of the user profile, allowing for basic services</li>

						<li>By using our website, you certify and guarantee that you meet the conditions provided for in these terms and conditions.</li>

						<li>The terms and conditions apply both when you only use our website or when you are already a registered member. (Subscriber)</li>

						<li>The administrator of photoclicker.net will delete your account in the event of non-compliance with the rules of these Regulations and, in the above case, you will not be entitled to any refund or compensation. In this case, even after the membership is terminated, the provisions of these regulations remain in force.</li>

						<li>The website is created solely for the personal use of individual members and may not be used for other purposes (e.g. commercial, marketing). Organizations, enterprises, legal entities and persons without legal personality may not become members and may not use the website without the consent of the website. The portal administrator is:<a ref='nofollow' target='_blank' href='https://prod.ceidg.gov.pl/CEIDG/Ceidg.Public.UI/SearchDetails.aspx?Id=bac08575-2011-4114-889f-ea036d9ffea5'>CEIDG</a>

						<li>Illegal or unauthorized use of our website, including collecting data of registered users or members' email addresses, sending unsolicited advertising messages, will be punishable by deletion of the account and taking appropriate legal steps.</li>

						<li>Under these terms and conditions, you are solely responsible for the content posted and sent to other users.</li>
						
						<li>By placing any data or materials on our website, you certify on the basis of these terms of use of the photoclicker.net website that you have exclusive copyrights, a valid license to use, and the right to distribute them.</li>
						
						<li>It is forbidden to display or distribute any copyrighted rights</li>
						
						<li>It is unacceptable under these regulations, any harassment of other members and subscribers of our website / making threats or other actions prohibited by law.</li>
						
						<li>photoclicker.net does not resolve disputes between individual members and subscribers. Users resolve any misunderstandings among themselves.</li>
						
						<li>On the basis of these regulations, you acknowledge that you bear sole criminal and civil liability for your actions, our website informs you about the risk of non-compliance with the regulations.</li>
						
					</ul>
				</div>
				
				<div class='col-md-12 regulations-title'>Additional Terms of Use for photoclicker.net</div>
				<div class='col-md-12 regulations-content text-left'>
					<ul>
						<li>
						In the event of changes to the regulations, the portal will immediately inform registered users about it by publishing a uniform text of the Regulations on the Website, or by sending information about changes in the form of an e-mail or publishing relevant information after logging into the account. The condition for further use of the Website is to accept the provisions of the Regulations in full with the introduced changes. If the changes to the regulations are not accepted, the user terminates the contract with the Administrator, which is tantamount to deleting the account, without the possibility of refunding the fees paid - please inform the portal about the lack of consent at info@photoclicker.net by writing from the email address to which you have registered account. It is forbidden to copy any elements of the portal without the consent of the owner.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>