.about_us_top_container_fluid{

    padding:0px 0px 0px 0px !important;

    .top_row{

        padding:0px 0px 0px 0px !important;

        .top_column{

            width:100%;
            height:400px;
            padding:0px 0px 0px 0px !important;

            background-image: image-url('patterns/line.png');
	        background-repeat: repeat;

            border-bottom:1px solid #e5e5e5;

            
            box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.09);

            position:relative;

            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;


            h2{

                display:inline-block;
                padding:8px 18px 8px 18px;
                background-color: rgba(171, 208, 34,0.99);
                background-image: image-url('patterns/line_2.png');
	            background-repeat: repeat;
	            text-shadow:2px 2px 0px rgba(0,0,0,0.12);

                box-shadow:0px 0px 16px rgba(0, 0, 0, 0.22);

                color:#ffffff;
                font-family:'Poppins';
                font-weight:600;

               


            }
            h3{

                display:inline-block;
                padding:8px 14px 8px 14px;
                background-color: rgba(0, 0, 0,0.89);
                color:#ffffff;
                font-family:'Roboto';
                font-weight:500;

                box-shadow:0px 0px 16px rgba(0, 0, 0, 0.22);

            }

            img{
                
                width:300px;
                height:auto;
                display:inline-block;
                margin:0 !important;
            }

        }
    }
}



.about_us_container{

    .about_us_row{

        margin:80px 0px 80px 0px !important;

        .about_us_column{

            text-align:center;


            h2{
                margin:0px 0px 0px 0px !important;
                display:inline-block;
                
                font-family: 'Poppins';
                font-size: 24px;
                color:#333333;
                font-weight: 700;
                letter-spacing: 0px;
                text-transform: uppercase;
            }

            .divider{

                text-align:center;
                
                width:100%;
                display:inline-block;

                .divi{

                    display:inline-block;
                    width:10px;
                    height:1px;
                    background-color: rgba(171, 208, 34,0.99);

                }
                .divi.middle{

                    background-color: #333333;

                }
            }
    
            h4{
                margin:10px 0px 0px 0px !important;
                display:inline-block;
    
                font-family: 'Roboto';
                font-size: 16px;
                color:#666666;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0px;
                    
                b{
                    color: #333333;
                }
            }

        }
    }
}





   
    /* ####################################################################################################### */
    /* ############################################# SECTION 4 CSS ########################################### */
    /* ####################################################################################################### */


.about_us_container_fluid{

    background-image: image-url('patterns/line.png');
	background-repeat: repeat;

    border-top:1px solid #e5e5e5;
    
    
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.09); 
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.09);

    .section_4{

        padding:0px 0px 90px 0px;

    }

    .section_4 .s4_container{



    }

    .section_4 .s4_container .s4_row{



    }

    .section_4 .s4_container .s4_row .s4_col{

        position: relative;

    }

    .section_4 .s4_container .s4_row .s4_col .title_big{

        text-align: center;
        
        padding:100px 0px 25px 0px;
    }

    .section_4 .s4_container .s4_row .s4_col .title_big h5{

        font-family: 'Poppins';
        font-size: 24px;
        color:#333333;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: uppercase;
        
    }


    .section_4 .s4_container .s4_row .s4_col .ul_main_container{


    }

    .section_4 .s4_container .s4_row .s4_col .ul_container{

        text-align: center;
        position:relative;


    }

    .section_4 .s4_container .s4_row .s4_col .ul_container span.txt{

        display:inline-block;

        padding:30px 0px 30px 15px;
        font-size:16px;
        font-weight:400;
        color:#666666;
        letter-spacing: 0px;
        text-transform: uppercase;

        vertical-align: 8px;

    }

    .section_4 .s4_container .s4_row .s4_col .ul_container span.txt strong{
        color:#333333;
    }


    .section_4 .s4_container .s4_row .s4_col .ul_container:last-child span.txt{

        padding-bottom:0px;

    }

    .section_4 .s4_container .s4_row .s4_col .ul_container:first-child span.txt{

        padding-top:30px;

    }

    .section_4 .s4_container .s4_row .s4_col .ul_container span.abs_number{


        display:inline-block;
        
        width:75px;
        height:62px;
        
        
        font-family:'Poppins';
        font-weight: 800;
        font-size:42px;
        color:#333333;

        margin-top:-62px;

        text-shadow:none;

        box-shadow:0px 0px 6px 4px rgba(0,0,0,0.09);

    }

}