.licence_container{

}

.licence_row{

}

.licence_column{

    margin:50px auto 50px auto !important;

    .title{

        font-family:'Roboto';
        color:#000000;
        font-size:16px;
        text-transform: uppercase;
        font-weight:800;

        span{

            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

            b{
                color:#111111;

            }
        }   

    }


    .licence_txt{

        font-size:14px;
        font-family:'Roboto';
        color:#333333;
        
        span{
            
            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

        }

    }

}













































.regulations_container{

}

.regulations_row{

}

.regulations_column{

    margin:50px auto 50px auto !important;

    .title{

        font-family:'Roboto';
        color:#000000;
        font-size:16px;
        text-transform: uppercase;
        font-weight:800;

        span{

            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

            b{
                color:#111111;

            }
        }   

    }


    .regulations_txt{

        font-size:14px;
        font-family:'Roboto';
        color:#333333;
        
        span{
            
            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

        }

    }

}



















.privacy_container{

}

.privacy_row{

}

.privacy_column{

    margin:50px auto 50px auto !important;

    .title{

        font-family:'Roboto';
        color:#000000;
        font-size:16px;
        text-transform: uppercase;
        font-weight:800;

        span{

            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

            b{
                color:#111111;

            }
        }   

    }


    .privacy_txt{

        font-size:14px;
        font-family:'Roboto';
        color:#333333;
        
        span{
            
            display:inline-block;
            color:#333333;
            padding:0px 0px 15px 0px !important;

        }

    }

}