
.login_container{
	
	position: relative;
	padding: 0px 0px 33px 0px;
	z-index: 300;

	.login_form_row{
	
		padding: 0px 0px 0px 0px;


		.login_form_column{

			margin: 50px 0px 0px 0px;
		
			.login_inner_container{

				box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.12);
				background-color: #ffffff;

				.second_login_row{

					text-align: center;

					.email_field{

						.form-control{

							border-radius: 0 !important;
							box-shadow: none!important;
							
						}
						
						label[for=user_email]{

							display: inline-block!important;
							padding: 0px 0px 10px 0px!important;

						}
					}

					.password_field{

						.form-control{

							border-radius: 0 !important;
							box-shadow: none!important;
							background-color: #ffffff !important;
							background: #ffffff !important;
							
						}
						.form-control.form-control-lg{
							border-radius: 0 !important;
							box-shadow: none!important;
							background-color: #ffffff !important;
							background: #ffffff !important;
						}

						label[for=user_password]{

							display: inline-block!important;
							padding: 10px 0px 10px 0px!important;

						}

						
					}


					.login_inner_column{


						h2{
							font-family: 'Poppins';
							font-size: 24px;
							font-weight: 600;
							display: inline-block;
							text-transform: uppercase;
							padding: 25px 0px 25px 0px;

						}

						.remember_me_column{

							padding: 15px 0px 15px 0px;

							label[for=user_remember_me]{

								text-transform: uppercase;
								font-size: 13px;
								color: #666666;
								display: inline-block;
								vertical-align: 2px;

							}
						}

						.submit_row{


							.submit_column{


								input[type=submit]{

									margin-bottom: 35px;
									display: inline-block;
									padding: 8px 14px 8px 14px;
									font-family: 'Roboto';
									font-weight: 500;
									color: #333333;
									font-size: 16px;
									text-transform: uppercase;
									text-decoration: none !important;
									border: 0 !important;

									box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;
									text-align: center;
									
									-webkit-transition: all ease 0.3s;
									-moz-transition: all ease 0.3s;
									-o-transition: all ease 0.3s;
									transition: all ease 0.3s;
								}

								input[type=submit]:hover{

									background-color:rgba(0,0,0,0.8) !important;	
									color: #ffffff;
									text-shadow:2px 2px 0px rgba(0,0,0,0.12);

								}

								
							}
						}
					}
				}





			}:after{

				background-image: radial-gradient(#f2f2f2 15%,transparent 25%);

			    background-size: 20px 20px;

			    position: absolute;

			    content: "";

			    width: 166px;

			    height: 166px;

			    left: 0;

			    margin-left: -34px;

			    top: 0;

			    margin-top: 5px;

			    z-index: -1;

			}

		}
	}



}

.login_actions_row{


	.col-md-6{

		padding: 25px 0px 25px 0px;
		
		text-align: center;

		a{
			font-family: 'Poppins';
			color: #666666;
			font-size: 16px;

		}
	}
}