


@media only screen and (min-width: 769px) and (max-width: 991.98px) {


}

@media only screen and (min-width: 992px) and (max-width: 1039.98px) {
	.container{
		max-width:960px !important;
	}


}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.container{
		max-width:960px !important;
	}

}

@media only screen and (min-width: 1200px) {
	.container{
		max-width:1050px !important;
	}

	
}