

.direct_photo_link_container{

}

.direct_photo_row{

}

.direct_photo_column{

	.author_container{

		.photo{

			display:inline-block;
			width:100%;

            img{

                border-radius: 100%;
                width:140px;
                height:140px;
                background-color:#ffffff;
				box-shadow:0px 0px 16px rgba(0, 0, 0, 0.21);	
                
            }
		}

		.name{

			width:100%;
			display:inline-block;
			text-transform: capitalize;

			font-size:18px;
			margin-top:15px;

		}

		.go_to_profile{

			width:100%;
			display:inline-block;
			text-transform: uppercase;
			font-weight:600;
			
			color:rgba(171, 208, 34,1);

			font-size:18px;
			margin-top:15px;

		}
	}

	.desc{

		text-align:center;
		
		max-width:800px;
		word-wrap: break-word;
		margin:0px auto 0px auto !important;

		padding:30px 0px 30px 0px;

		h3{

			font-size:18px;
            font-family:'Poppins';
            font-weight:600;
            color:#333333;
            line-height:18px;
			text-transform: uppercase;
            margin:0px 0px 0px 0px !important;
			display:inline-block;
			width:100%;

		}

		.divider{

            text-align:center;
            
            width:100%;
            display:inline-block;
			margin:0px 0px 5px 0px;

            .divi{

                display:inline-block;
                width:10px;
                height:1px;
                background-color: rgba(171, 208, 34,0.99);
               
            }
            .divi.middle{

                background-color: #333333;
                
            }
        }


		h4{

			display:inline-block;
			font-size:16px;
            font-family:'Roboto';
            font-weight:400;
            color:#666666;
            line-height:24px;
            margin:0px 0px 0px 0px !important;

		}

	}

	.tags_container{

		padding:0px 0px 30px 0px;
		max-width:800px;
		word-wrap: break-word;
		margin:0px auto 0px auto !important;

		.tag{

			font-size:14px;
            color:#666666;
            font-weight:400;

			margin:0px 5px 10px 5px;
            display:inline-block;
            background-color: #ffffff;
            color:#333333;
            padding:8px 12px 8px 12px;
            box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);
            text-decoration: none !important;
		}
		.tag:hover{

			color:#ffffff !important;
            background-color: #abd022 !important;
			background-image: image-url('patterns/line_2.png');
            background-repeat: repeat;
            text-shadow:2px 2px 0px rgba(0,0,0,0.12);

		}
	}

	margin:50px 0px 50px 0px !important;
	text-align:center;


	.photo_spec_info{

		padding:15px 30px 45px 30px;

		text-align:center;

        .added_at{

            width:100%;
            

            font-size:16px;
            color:#666666;
            font-weight:400;

            .title{

                display:inline-block;
                border-bottom:1px solid #e5e5e5;

            }

            .data{
                
                display:inline-block;
                font-size:16px;
                color:#333333;
                border-bottom:1px solid #e5e5e5;
            }
        }

        .dimensions{

            width:100%;
            

            font-size:16px;
            color:#666666;
            font-weight:400;

            .title{

                display:inline-block;
                border-bottom:1px solid #e5e5e5;

            }

            .data{
                
                display:inline-block;
                font-size:16px;
                color:#333333;
                border-bottom:1px solid #e5e5e5;
            }

        }

        

        .downloaded{
            
            width:100%;
            

            font-size:16px;
            color:#666666;
            font-weight:400;

            .title{

                display:inline-block;
                border-bottom:1px solid #e5e5e5;

            }

            .data{
                
                display:inline-block;
                font-size:16px;
                color:#333333;
                border-bottom:1px solid #e5e5e5;
            }

        }

        .liked{
            
            width:100%;
           

            font-size:16px;
            color:#666666;
            font-weight:400;

            .title{

                display:inline-block;
                border-bottom:1px solid #e5e5e5;
            }

            .data{
                
                display:inline-block;
                font-size:16px;
                color:#333333;
                border-bottom:1px solid #e5e5e5;
            }

        }

        .views{
            
            width:100%;
           

            font-size:16px;
            color:#666666;
            font-weight:400;

            .title{

                display:inline-block;
                border-bottom:1px solid #e5e5e5;
            }

            .data{
                
                display:inline-block;
                font-size:16px;
                color:#333333;
                border-bottom:1px solid #e5e5e5;
            }

        }


	}

	.photo_img{

		padding:10px 10px 10px 10px;
		background-color:#ffffff;
		text-align:center;

		display:inline-block;

		box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);

		a{
			
			display:inline-block;

		}

		img{

			display:inline-block;
			max-width:800px;
			height:auto;

		}
	}
	
	.download_button_container{

		margin:25px 0px 0px 0px;
		
	}

	.download_button{

		display: inline-block;
		padding: 8px 14px 8px 14px;
		font-family: 'Roboto';
		font-weight: 500;
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		text-decoration: none !important;
		border: 0 !important;

		background-color: #abd022;
		background-image: image-url('patterns/line_2.png');
		background-repeat: repeat;

		text-shadow:2px 2px 0px rgba(0,0,0,0.12);

		text-decoration: none;

		box-shadow:0px 0px 16px rgba(0, 0, 0, 0.18);

		-webkit-transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-o-transition: all ease 0.3s;
		transition: all ease 0.3s;


	}

	.download_button:hover{

		background-color:rgba(0,0,0,0.8) !important;

	}
}



.photos_index_main_container{

	margin: 15px 0px 0px 0px;
	padding: 15px 0px 15px 0px;
	
	background-image: image-url('patterns/top_black_pattern_opacity.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;

	#notice{


	}


	.title_row{

		text-align: center;
		

		.title_column{

			z-index:102;
			padding: 0px 0px 0px 0px;

			h1{
				font-family: 'Poppins';
				font-size: 24px;
				color:#333333;
				font-weight: 700;
				letter-spacing: 0px;
				text-transform: uppercase;

			}

			h6{

				font-family: 'Poppins';
				font-size: 14px;
				color:#666666;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0px;
				
				b{
					color: #333333;
				}
			}
		}
	}


	.add_new_row{

		padding: 0px 0px 0px 0px;

		.add_new_column{

			padding: 0px 0px 0px 0px;

			.add_new_button{

				text-align: center;
				margin: 15px 0px 0px 0px;

				a{
					display: inline-block;
					padding: 8px 14px 8px 14px;
					font-family: 'Roboto';
					font-weight: 500;
					color: #333333;
					font-size: 16px;
					text-transform: uppercase;
					text-decoration: none !important;

					background-color: #ffffff;
					box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);
					text-align: center;

					-webkit-transition: all ease 0.3s;
					-moz-transition: all ease 0.3s;
					-o-transition: all ease 0.3s;
					transition: all ease 0.3s;

				}:hover{

					background-color:rgba(0,0,0,0.8);	
					color: #ffffff;
					text-shadow:2px 2px 0px rgba(0,0,0,0.12);

				}

			}
		}
	}




	.photo_row{


		.photo_col{

			padding: 25px 0px 0px 0px;
			margin-bottom: 25px;
			text-align: center;
			
			.photo{

				position:relative;

				.photo_checked{
					position:absolute;
					left:0;
					top:0;
					font-size:10px;
					padding:4px 6px 4px 6px;
					color:#ffffff;
					background-color:rgba(228, 43, 43, 0.8);

				}

				padding:8px;
				display: inline-block;
				background-color: #ffffff;
				box-shadow:0px 0px 16px rgba(0, 0, 0, 0.06);
				text-align: center;
				margin: 5px;

				img{

					width: 150px;
					height: 150px;
					overflow: hidden;

				}

				.photo_info{
					
					text-align: left;
					

					.uploads{

						font-family: 'Roboto';
						font-weight: 500;
						color: #666666;
						font-size: 12px;
						text-transform: uppercase;
						
						width:100%;
						display:inline-block;
						padding:10px 0px 5px 1px;

						i{
							display: inline-block;
							padding-right:5px;
						}
					}

					.likes{

						font-family: 'Roboto';
						font-weight: 500;
						color: #666666;
						font-size: 12px;
						text-transform: uppercase;
						
						width:100%;
						display:inline-block;
						padding:0px 0px 5px 1px;

						i{
							display: inline-block;
							padding-right:5px;
						}
					}

					.views{

						font-family: 'Roboto';
						font-weight: 500;
						color: #666666;
						font-size: 12px;
						text-transform: uppercase;
						
						width:100%;
						display:inline-block;
						padding:0px 0px 5px 1px;

						i{
							display: inline-block;
							padding-right:5px;
						}
					}
					
				}

				.photo_button_container{

					width: 100%;
					text-align: center;
					margin-top:10px;

					.photo_index_button{

						margin-bottom: 10px;

						box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);

						

						a{
							display: inline-block;
							width: 100%;
							padding: 4px 6px 4px 6px;
							font-family: 'Roboto';
							font-weight: 500;
							color: #333333;
							font-size: 12px;
							text-transform: uppercase;
							text-decoration: none !important;

							-webkit-transition: all ease 0.3s;
							-moz-transition: all ease 0.3s;
							-o-transition: all ease 0.3s;
							transition: all ease 0.3s;

						}:hover{

							background-color:rgba(0,0,0,0.8);	
							color: #ffffff;
							text-shadow:2px 2px 0px rgba(0,0,0,0.12);

						}

						i{
							display: none;
							padding: 0px 5px 0px 0px;
						}
		
					}
					
					.photo_index_button.photo_download_button{

						
					}

					.photo_index_button.photo_edit_button{

					}
					.photo_index_button.photo_delete_button{

						
					}
					.photo_index_button.link_button{

						margin-bottom: 0px;

					}
					

				}
				
			}
		}
	}

}


.add_photo_row{

	margin:150px 0px 150px 0px !important;

	.add_photo_col{

		text-align: center;

		form{

			.upload_field{
				
				margin-top: 5px;

				.upload_photo_h1{
					text-align: center;
					display: inline-block;
					font-family: 'Poppins';
					font-size: 24px;
					color:#333333;
					font-weight: 700;
					letter-spacing: 0px;
					text-transform: uppercase;
					width: 100%;
				}
				.upload_photo_h6{
					text-align: center;
					display: inline-block;
					font-family: 'Poppins';
					font-size: 16px;
					color:#666666;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: 0px;
					width: 100%;
				}
				


				.upload_inputs_column{

					.input_group{

						margin-top: 25px;

						display: -ms-flexbox;
					    display: -webkit-flex;
					    display: flex;
					    -webkit-flex-direction: column;
					    -ms-flex-direction: column;
					    flex-direction: column;
					    -webkit-flex-wrap: nowrap;
					    -ms-flex-wrap: nowrap;
					    flex-wrap: nowrap;
					    -webkit-justify-content: flex-start;
					    -ms-flex-pack: start;
					    justify-content: flex-start;
					    -webkit-align-content: stretch;
					    -ms-flex-line-pack: stretch;
					    align-content: stretch;
					    -webkit-align-items: center;
					    -ms-flex-align: center;
					    align-items: center;

					    .input-group-text{

					    	border-radius: 0 !important;
					    }

						#load_button{

								margin-top: 35px;
								text-align: center;
								display: inline-block;
								padding: 8px 14px 8px 14px;
								font-family: 'Roboto';
								font-weight: 500;
								color: #333333;
								font-size: 16px;
								text-transform: uppercase;
								text-decoration: none !important;
								border-radius: 0 !important;
								border: 0 !important;
								display: inline-block;
				
								box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;

								-webkit-transition: all ease 0.3s;
								-moz-transition: all ease 0.3s;
								-o-transition: all ease 0.3s;
								transition: all ease 0.3s;

						}
						#load_button:hover{

							background-color:rgba(0,0,0,0.8) !important;	
							color: #ffffff !important;
							text-shadow:2px 2px 0px rgba(0,0,0,0.12) !important;
							border-radius: 0.25rem !important;
							border: 0 !important;
							border-radius: 0 !important;
							
						}

					}
					

				}
			}
		}
	}
}



.new_photo_row{


	.new_photo_col{

		text-align:center;
		margin-top:55px;
		z-index:101;

		.new_photo{

            display:inline-block;
			max-width: 500px;
			height: auto;

			img{
				max-width: 500px;
				height: auto;
			}
		}

		.new_photo_buttons{

			margin: 55px 0px 55px 0px;

			.new_photo_button{

				display: inline-block;
				box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;


				a{
					display: inline-block;
					
					padding: 8px 14px 8px 14px;
					font-family: 'Roboto';
					font-weight: 500;
					color: #333333;
					font-size: 16px;
					text-transform: uppercase;
					text-decoration: none !important;

					background-color:#ffffff;

					-webkit-transition: all ease 0.3s;
					-moz-transition: all ease 0.3s;
					-o-transition: all ease 0.3s;
					transition: all ease 0.3s;

				}:hover{

					background-color:rgba(0,0,0,0.8);	
					color: #ffffff;
					text-shadow:2px 2px 0px rgba(0,0,0,0.12);

				}

			}
		}


		.download_photo_buttons{

			margin: 0px 0px 55px 0px;

			.download_button{

				display: inline-block;
				box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;


				a{
					display: inline-block;
					
					padding: 8px 14px 8px 14px;
					font-family: 'Roboto';
					font-weight: 500;
					color: #333333;
					font-size: 16px;
					text-transform: uppercase;
					text-decoration: none !important;

					-webkit-transition: all ease 0.3s;
					-moz-transition: all ease 0.3s;
					-o-transition: all ease 0.3s;
					transition: all ease 0.3s;

				}:hover{

					background-color:rgba(0,0,0,0.8);
					color: #ffffff;
					text-shadow:2px 2px 0px rgba(0,0,0,0.12);

				}

			}
		}

	}
}




.photo_tags_form{
	position:relative;
	text-align:center;
}
.photo_tags_form input#tag_name{

	border-radius:0 !important;

}

.form-control.form-tags{

	display:inline-block;
	max-width:960px;
}

.photo_tags_form .btn-send{

	position:absolute;
	display:inline-block;
	bottom:0;
	right:0;
	text-transform: uppercase;
	border-radius: 0 !important;
	border:0 !important;

	background-color: #ffffff;
	color:#333333;
	box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);

	margin:0px 50px -20px 0px;
}
.photo_tags_form .btn-send:hover{

	background-color:rgba(0,0,0,0.8);
	color:#ffffff;

}


.desc_container{

		.desc_box{

			h6{

				font-size:15px;
				font-family: 'Roboto';
				font-weight: 400;
				color:#444444;

			}
		}
}

.info_red{

	padding:25px 0px 15px 0px;
	color:red;
	font-family:'Poppins';
	font-size:13px;
	text-align:center;
}

.desc_row{

	margin:25px 0px 25px 0px !important;

}

.photo_desc_form{
	position:relative;
	text-align:center;
}
.photo_desc_form input#tag_name{

	border-radius:0 !important;

}

.form-control.form-desc{

	display:inline-block;
	max-width:960px;
	border-radius: 0 !important;
}

.photo_desc_form .btn-send{

	position:absolute;
	display:inline-block;
	bottom:0;
	right:0;
	text-transform: uppercase;
	border-radius: 0 !important;
	border:0 !important;

	background-color: #ffffff;
	color:#333333;
	box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);

	margin:0px 50px -20px 0px;
}
.photo_desc_form .btn-send:hover{

	background-color:rgba(0,0,0,0.8);
	color:#ffffff;

}






















.badge_container{

    display:inline-block;
    padding:15px 0px 15px 0px;
	width:100%;

}
.badge_tags{

    color:#ffffff;
    background-color:#abd022;
	border-radius: 0 !important;
   
    margin-right:8px;

}
.warning_info{
    vertical-align: -1px;
    display:inline-block;
    color:#999999;
    font-size:13px;
}
