/* ##################################################################################################*/
/* ##################################################################################################*/
/* ########################################## PROFILE INDEX #########################################*/
/* ##################################################################################################*/
/* ##################################################################################################*/

.users_index_page_container{

}

.users_index_page_row{

    margin:50px auto 150px auto !important;


    .title_row{

		text-align: center;
        margin-bottom:50px !important;
		
		.title_column{

			z-index:102;
			padding: 0px 0px 0px 0px;

			h1{
				font-family: 'Poppins';
				font-size: 24px;
				color:#333333;
				font-weight: 700;
				letter-spacing: 0px;
				text-transform: uppercase;

			}

			h6{

				font-family: 'Poppins';
				font-size: 14px;
				color:#666666;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0px;
				
				b{
					color: #333333;
				}
			}
		}
	}

}

.users_index_page_column{

}


.user_index_row{

    position:relative;

    .user_column{

        margin:10px auto 10px auto;
        padding:15px 15px 15px 15px;

        box-shadow:0px 0px 16px rgba(0, 0, 0, 0.18);
        background-color:#ffffff;

        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;

        .user_container{


            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            .user_avatar{  

                display:inline-block;
                vertical-align: top;

                a{
                    display:inline-block;
                    
                }

                img{
                    
                    width:150px;
                    height:150px;
                    border-radius:100%;
                    	

                }
            }

            .user_name{

                display:inline-block;
                vertical-align: top;
                padding:0px 0px 0px 15px;
                line-height: 1px;
                min-width:280px;
                max-width:280px;

                span.name{

                    display:inline-block;
                    width:100%;
                    font-size:24px;
                    color:#333333;
                    font-weight:500;
                    line-height: 24px;
                    text-transform: capitalize;
                    

                }

                span.hire{

                    display:inline-block;
                    width:100%;
                    font-size:14px;
                    color:#111111;
                    font-weight:400;
                    line-height:24px;

                    a{
                        font-weight:600;
                        display:inline-block;
                        color:#000000;
                        text-decoration: none !important;

                    }:hover{

                        color: #abd022;  

                    }
                }

                span.my_site{

                    display:inline-block;
                    width:100%;
                    font-size:14px;
                    color:#666666;
                    font-weight:400;
                    line-height:24px;

                    a{
                        display:inline-block;
                        color:#666666;
                        text-decoration: none !important;

                    }:hover{

                        color: #abd022;  

                    }

                }
               
                span.profile_country{

                    display:inline-block;
                    width:100%;
                    font-size:14px;
                    color:#666666;
                    font-weight:400;
                    line-height:24px;

                }
                span.profile_insta{

                    display:inline-block;
                    width:100%;
                    font-size:14px;
                    color:#666666;
                    font-weight:400;
                    line-height:24px;

                    a{

                        display:inline-block;
                        color:#666666;
                        text-decoration: none !important;

                    }:hover{

                        color: #abd022;  
                        
                    }

                }
                span.profile_fb{

                    display:inline-block;
                    width:100%;
                    font-size:14px;
                    color:#666666;
                    font-weight:400;
                    line-height:24px;

                    a{

                        display:inline-block;
                        color:#666666;
                        text-decoration: none !important;

                    }:hover{

                        color: #abd022;  

                    }
                    
                }

            }

        }

    }
    .user_column_number{

        font-family:'Poppins';
        color:rgba(0,0,0,0.12);
        position:absolute;
        top:0;
        left:0;
        z-index:-1;

        font-size: 46px;
        font-weight:900;
        
        margin:-24px 0px 0px -45px !important;



    }
    .user_stats_data{

        margin:0px 0px 10px 0px !important;
        display: inline-block;

        .views{


            .title{

                display:inline-block;
                font-size:24px;
                color:#999999;
                font-weight:800;

            }
            .data{

                display:inline-block;
                font-size:24px;
                color:#bdbdbd;
                font-weight:600;
            }
        }

        .downloads{


            .title{

                display:inline-block;
                font-size:24px;
                color:#999999;
                font-weight:800;

            }
            .data{

                display:inline-block;
                font-size:24px;
                color:#bdbdbd;
                font-weight:600;
            }
        }

        .likes{


            .title{

                display:inline-block;
                font-size:24px;
                color:#999999;
                font-weight:800;

            }
            .data{

                display:inline-block;
                font-size:24px;
                color:#bdbdbd;
                font-weight:600;
            }
        }

    }

}




/* ##################################################################################################*/
/* ##################################################################################################*/
/* ########################################### PROFILE EDIT #########################################*/
/* ##################################################################################################*/
/* ##################################################################################################*/


.profile_container{

    margin:0px 0px 0px 0px;

}

.profile_row{

}

.profile_row .options_row{
	
	padding: 50px 0px 60px 0px;
	z-index: 102;

	.options_col{

		text-align: center;

		.option_button{

			display: inline-block;
			
			.option_a{

				font-family: 'Roboto';
				font-weight: 500;
				color: #333333;
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none !important;

                position:relative;
				z-index: 210;
				background-color: #ffffff;
				

				display: inline-block;
				
				margin: 0px 5px 0px 5px;
				padding: 10px 16px 10px 16px;
				
				box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);

				-webkit-transition: all ease 0.3s;
				-moz-transition: all ease 0.3s;
				-o-transition: all ease 0.3s;
				transition: all ease 0.3s;

			}:hover{

				background-color:rgba(0,0,0,0.8);	
				color: #ffffff;
				text-shadow:2px 2px 0px rgba(0,0,0,0.12);

			}
		}
	}

}




.profile_column_left{

}

.profile_column_left .avatar{
    text-align:center;
    img{
        display:inline-block;
        border-radius:100%;
    }
}

.profile_column_left  .avatar_upload_form{

    margin:0px 0px 50px 0px;

}


.profile_column_left .upload_inputs_column{

    .input_group{

        margin-top: 25px;

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        .input-group-text{

            border-radius: 0 !important;
        }

        #load_button{

                margin-top: 25px;
                text-align: center;
                display: inline-block;
                padding: 8px 14px 8px 14px;
                font-family: 'Roboto';
                font-weight: 500;
                color: #333333;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none !important;
                border-radius: 0 !important;
                border: 0 !important;
                display: inline-block;

                box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;

                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                transition: all ease 0.3s;

        }
        #load_button:hover{

            background-color:rgba(0,0,0,0.8) !important;	
            color: #ffffff !important;
            text-shadow:2px 2px 0px rgba(0,0,0,0.12) !important;
            border-radius: 0.25rem !important;
            border: 0 !important;
            border-radius: 0 !important;
            
        }

    }
    

}






.profile_column_middle{

}

.profile_column_middle .data_container{
    text-align:center;

    .form-control{
        border-radius:0px !important;
        margin:0px 0px 4px 0px;
    }

   .submit_button{

        margin-top: 35px;
        text-align: center;
        display: inline-block;
        padding: 8px 14px 8px 14px;
        font-family: 'Roboto';
        font-weight: 500;
        color: #333333;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none !important;
        border-radius: 0 !important;
        border: 0 !important;
        display: inline-block;

        box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;

        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;

    }
    .submit_button:hover{

        background-color:rgba(0,0,0,0.8) !important;	
        color: #ffffff !important;
        text-shadow:2px 2px 0px rgba(0,0,0,0.12) !important;
        border-radius: 0.25rem !important;
        border: 0 !important;
        border-radius: 0 !important;
        
    }

}





.profile_column_right{
    text-align: center;

    .form-control{
        border-radius:0px !important;
        margin:0px 0px 4px 0px;
    }
    textarea{
        border:1px solid #ced4da !important;
        height:206px;
    }

   .submit_button{

        margin-top: 35px;
        text-align: center;
        display: inline-block;
        padding: 8px 14px 8px 14px;
        font-family: 'Roboto';
        font-weight: 500;
        color: #333333;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none !important;
        border-radius: 0 !important;
        border: 0 !important;
        display: inline-block;

        box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;

        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;

    }
    .submit_button:hover{

        background-color:rgba(0,0,0,0.8) !important;	
        color: #ffffff !important;
        text-shadow:2px 2px 0px rgba(0,0,0,0.12) !important;
        border-radius: 0.25rem !important;
        border: 0 !important;
        border-radius: 0 !important;
        
    }

}





/* ##################################################################################################*/
/* ##################################################################################################*/
/* ########################################### PROFILE SHOW #########################################*/
/* ##################################################################################################*/
/* ##################################################################################################*/

.profile_show_container{

    margin:0px auto 5px auto !important;
}

.profile_show_row{

}




.profile_show_row .options_row{
	
	padding: 50px 0px 60px 0px;
	z-index: 101;
	

	.options_col{
	
		text-align: center;
		z-index: 200;

		.option_button{

			display: inline-block;
			
			.option_a{

				font-family: 'Roboto';
				font-weight: 500;
				color: #333333;
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none !important;

				z-index: 100;
				background-color: #ffffff;
				

				display: inline-block;
				
				margin: 0px 5px 0px 5px;
				padding: 10px 16px 10px 16px;
				
				box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);

				-webkit-transition: all ease 0.3s;
				-moz-transition: all ease 0.3s;
				-o-transition: all ease 0.3s;
				transition: all ease 0.3s;

			}:hover{

				background-color:rgba(0,0,0,0.8);	
				color: #ffffff;
				text-shadow:2px 2px 0px rgba(0,0,0,0.12);

			}
		}
	}

}






.profile_show_column_left{

    text-align: center;
    
}

.profile_show_column_left .avatar{

    img{

        width:150px;
        height:150px;
        border-radius: 100%;
        background-color:#ffffff;
		box-shadow:0px 0px 16px rgba(0, 0, 0, 0.21);
        
    };
}

.profile_show_column_right{
    
    .list-group{
        background-color:transparent !important;

        .list-group-item{
            background-color:transparent !important;
        }
        .list-group-item.a_tag a{
            background-color:transparent !important;
            color:#333333;
            text-decoration: none !important;
        }
    }
}

.profile_show_row_bottom{

    margin:15px 0px 0px 0px !important;
    
}
.profile_show_column_bottom{
    text-align: center;
    word-break: break-word;
    min-height:50px;
    color:#333333;
}







.profile_show_numbers_row{

    margin:25px 0 35px 0 !important;

    position: relative;
    text-align:center;

    .hire{

        margin-top:0px;

        span{

            a{
                font-family:'Poppins';
                font-size:62px;
                color:rgba(171, 208, 34,0.25);
                font-weight:900;
                text-decoration: none !important;

            }
            a:hover{

                color:#f1f1f1;

            }
        }
    }
}

.profile_show_numbers_column{

    text-align: center;
    
}

.total_uploaded_photos{

    margin:0px 10px 10px 0px !important;

    display: inline-block;

    .title{

        display:inline-block;
        font-size:24px;
        color:#999999;
        font-weight:800;

    }
    .number{

        display:inline-block;
        font-size:24px;
        color:#bdbdbd;
        font-weight:600;
    }

}

.total_photos_views{

    margin:0px 10px 10px 0px !important;

    display: inline-block;

    .title{

        display:inline-block;
        font-size:24px;
        color:#999999;
        font-weight:800;

    }
    .number{

        display:inline-block;
        font-size:24px;
        color:#bdbdbd;
        font-weight:600;
    }

}

.total_photos_likes{

    margin:0px 10px 10px 0px !important;

    display: inline-block;

    .title{

        display:inline-block;
        font-size:24px;
        color:#999999;
        font-weight:800;

    }
    .number{

        display:inline-block;
        font-size:24px;
        color:#bdbdbd;
        font-weight:600;
    }

}


.most_viewed_photos_row{

    margin:0px 0px 50px 0px !important;

}

.most_viewed_photos_column{

    .title{

        display:inline-block;
        font-size:24px;
        color:#999999;
        font-weight:800;
        margin:0px 0px 15px 0px;
    }

    .photos_container{

        text-align: left;

        .photo{

            position: relative;

            .counter{

                position:absolute;
                top:0;
                left:0;
                background-color:rgba(171, 208, 34,0.88);
                color:#ffffff;
                font-size:12px;
                font-weight:500;
                padding:4px 10px 4px 10px;
            }

            display:inline-block;
            
            img{
                display:inline-block;
            }
        }

    }

}


.most_liked_photos_row{

    margin:50px 0px 50px 0px !important;
    
}

.most_liked_photos_column{

    .title{

        display:inline-block;
        font-size:24px;
        color:#999999;
        font-weight:800;
        margin:0px 0px 15px 0px;
    }

    .photos_container{

        text-align: left;

        .photo{

            position: relative;

            .counter{

                position:absolute;
                top:0;
                left:0;
                background-color:rgba(171, 208, 34,0.88);
                color:#ffffff;
                font-size:12px;
                font-weight:500;
                padding:4px 10px 4px 10px;
            }

            display:inline-block;
            
            img{
                display:inline-block;
            }
        }

    }

}





.profile_edit_bottom_row{

    margin:0px auto 100px auto !important;

}

.profile_edit_bottom_column{

}

.profile_bottom_form{
    
    .formtastic.profile{
         
        text-align:center;
        list-style:none !important;

    }
    #profile_hire_input{

        padding:15px 0px 15px 0px;
        
        label[for=profile_hire]{
            cursor: pointer;
        }
        #profile_hire{

            display:inline-block;
            margin:0px 5px 0px 0px;
            vertical-align: -1px;
            cursor: pointer;
        }
        

    }

    input[type=submit]{

        text-align: center;
        display: inline-block;
        padding: 8px 14px 8px 14px;
        font-family: 'Roboto';
        font-weight: 500;
        color: #333333;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none !important;
        border-radius: 0 !important;
        border: 0 !important;
        display: inline-block;

        box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;

        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;

    }
    input[type=submit]:hover{

        background-color:rgba(0,0,0,0.8) !important;	
        color: #ffffff !important;
        text-shadow:2px 2px 0px rgba(0,0,0,0.12) !important;
        border-radius: 0.25rem !important;
        border: 0 !important;
        border-radius: 0 !important;
        
    }
}
