.search_container{
    
}

.search_row{

}

.search_col{

    background-color: #ffffff;
    padding:15px 15px 15px 15px;
    margin:20px 0px 0px 0px !important;

    box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12);
}

#search_keyword{

    border-radius: 0px !important;
   
}