
.unsubscribe_container{
	
	position: relative;
	padding: 0px 0px 33px 0px;
	z-index: 300;

	.unsubscribe_form_row{
	
		padding: 0px 0px 0px 0px;


		.unsubscribe_form_column{

			margin: 50px 0px 0px 0px;
		
			.unsubscribe_inner_container{

				box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.12);
				background-color: #ffffff;

				.second_unsubscribe_row{

					text-align: center;

					.email_field{

						.form-control{

							border-radius: 0 !important;
							box-shadow: none!important;
							
						}
						
						label[for=unsubscribe_email]{

							display: inline-block!important;
							padding: 0px 0px 10px 0px!important;

						}
					}

					.unsubscribe_inner_column{


						h2{
							font-family: 'Poppins';
							font-size: 24px;
							font-weight: 600;
							display: inline-block;
							text-transform: uppercase;
							padding: 25px 0px 25px 0px;

						}

						.submit_row{


							.submit_column{


								input[type=submit]{

									margin-bottom: 35px;
									display: inline-block;
									padding: 8px 14px 8px 14px;
									font-family: 'Roboto';
									font-weight: 500;
									color: #333333;
									font-size: 16px;
									text-transform: uppercase;
									text-decoration: none !important;
									border: 0 !important;

									box-shadow:0px 0px 16px rgba(0, 0, 0, 0.12) !important;
									text-align: center;
									
									-webkit-transition: all ease 0.3s;
									-moz-transition: all ease 0.3s;
									-o-transition: all ease 0.3s;
									transition: all ease 0.3s;
								}

								input[type=submit]:hover{

									background-color: #ff9800 !important;	
									color: #ffffff;
									text-shadow:2px 2px 0px rgba(0,0,0,0.12);

								}

								
							}
						}
					}
				}





			}:after{

				background-image: radial-gradient(#f2f2f2 15%,transparent 25%);

			    background-size: 20px 20px;

			    position: absolute;

			    content: "";

			    width: 166px;

			    height: 166px;

			    left: 0;

			    margin-left: -34px;

			    top: 0;

			    margin-top: 5px;

			    z-index: -1;

			}

		}
	}
}